.carousel-container {
    width: 800px;
    
    margin: 0 auto;
    border: 30px solid #8DA0CB;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.25);
    margin-top: 40px;
}

.slick-slide {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barchart-container {
    padding: 10px;

   
  }

.slick-prev:before,
.slick-next:before {
    color: #333;
}

.carousel-comp {
    height: 300px; /* or any desired height */
    overflow-y: scroll; /* enable vertical scroll */
}

.machine-button {
    background-color: #4682B4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    box-shadow: 0px 5px 10px #888888;
    border-radius: 5px;
}

.myButton {

    background-color: #34495E;
    color: white;
    font-size: 20px;
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 5px 10px #888888;

      /* Animation */
  animation-name: bounce;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-1px);
    }
  }


.slick-dots {
    bottom: -30px
}

 .slick-dots li button:before {
        color: #333;
    }
