odometer-theme-example {
    font-family: "Helvetica Neue", sans-serif !important;
    font-weight: 100 !important;
    padding: 0 0.12em !important;
    line-height: 1.2em !important;
    font-size: 1.2em !important; 
  
}

.odometer {
    font-size: 5em !important;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
  }
  
